@model BDCrudTestMVC.Models.CoCategorium

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un nuevo registro</h1>

<h4>Categoría</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CNombCateg" class="control-label"></label>
                <input asp-for="CNombCateg" class="form-control" />
                <span asp-validation-for="CNombCateg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEsActiva" class="control-label"></label>
                <input asp-for="CEsActiva" class="form-control" />
                <span asp-validation-for="CEsActiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
