@model BDCrudTestMVC.Models.CoCategorium

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3> ¿Desea eliminar el registro?</h3>
<div>
    <h4>Categoría</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNombCateg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNombCateg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEsActiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEsActiva)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NIdCategori" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
